<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Contacts</h3>
        <a href="#" class="btn-success btn-sm pull-right">New Contact</a>
    </div>
        <div class="row">
            <div class="col-xs-12">
              <cms-contact-item
              *ngFor="let contact of contacts"
              [contact]="contact"
              (contactselected)="onContactSelected(contact)"></cms-contact-item>
            </div>
          </div>
</div>
